html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    color: #010101;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #111111;
    color: #dfdfdf;
    padding: 10px 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    top: 0px;
    position: fixed;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    transition: bottom 0.5s ease;
}

.header-section {
    flex: 1 1 200px;

    font-size: 1.1em;
  }

header a {
    color: #f3f3f3;
    text-decoration: none;
    margin: 0px 30px;
    transition: 300ms;
    border-bottom: 2px solid transparent;
}

header a:hover {
    border-bottom: 2px solid #ffffff;
}

header a.dimmed {
    color: #9d9d9d;
}

header p {
    color: #f3f3f3;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 0.9em;
    transition: color 0.3s;
    margin-bottom: 20px;
    margin-right: 40px;
}

.header-section ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
}

.header-section ul li {
    margin-bottom: 8px;
}

.header-section h3 {
    margin: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

footer {
    background-color: #111111;
    color: #dfdfdf;
    padding: 10px 0px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    transition: bottom 0.5s ease;
}

.footer-section {
    margin-top: 20px;
    margin-left: 52px;
    margin-right: 40px;
    flex: 1 1 200px;
    text-align: left;
    font-size: 1.1em;
  }

footer a {
    color: #f3f3f3;
    text-decoration: none;
    margin: 0px 10px;
    transition: color 0.3s;
}

footer p {
    color: #f3f3f3;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 0.9em;
    text-align: right;
    transition: color 0.3s;
    margin-bottom: 20px;
    margin-right: 40px;
}

footer a:hover {
    color: #9d9d9d;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section h3 {
    margin: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.footer hr {
    width: 100%;
    border: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 60px;
    margin-right: 60px;
    border-top: 2px solid #737373;
}

footer img {
    width: 28px;
    height: 28px;
    margin-right: 0px;
    cursor: pointer;

}

.logo {
    width: 40px;
    height: 33px;
    margin: 0px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
}

.logo span {
    font-size: 14px;
    color: #888;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    text-align: left;
    gap: 50px;
}

.content h3 {
    color: white;
    font-weight: 300;
    
}

.content h1 {
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
}

.highlight {
    color: white;
    font-weight: bold;
}

.btn {
    background-color: #FF1493;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
}

.image img {
    width: 400px;
}



.resources-container {
    text-align: center;
    max-width: 100%;
    padding: 20px;
    justify-items: center;
}

.resources-container .highlight {
    color: #FF1493;
}

.resources-container h2 {
    font-size: 28px;
    color: white;
    margin-bottom: 120px;
}

.resources-list {
    display: flex;
    margin-top: 20px;
    position: relative;
    justify-items: center;
}

.resource-item {
    background: rgb(113,113,113);
    background: linear-gradient(4deg, rgba(113,113,113,0.8071603641456583) 15%, rgba(71,71,71,0.8939950980392157) 47%, rgba(46,46,46,0.8995973389355743) 89%);
    color: white;
    border-radius: 20px;
    padding: 35px;
    width: 290px;
    height: 175px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-left: 20px;
    transition: 2s;
}

.resource-item:hover {
    background: rgb(46,46,46);
    background: linear-gradient(4deg, rgba(46,46,46,0.8995973389355743) 15%, rgba(71,71,71,0.8939950980392157) 47%, rgba(113,113,113,0.8071603641456583) 89%);
}

.resource-item img {
    width: 20%;
    height: auto;
    margin: 0px;
}

.resource-item .h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.resource-item .p {
    font-size: 14px;
    line-height: 1.4;
}

