/* =============================
   1. RESET & BASE
============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  background-color: #f3f3f3;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

/* =============================
   2. LAYOUT STRUCTURE
============================= */
.logo {
  width: 4vh;
  height: 3.3vh;
  margin: 0;
  color: white;
}

.hero {
  background: rgb(20, 7, 45);
  background: linear-gradient(
    151deg,
    rgba(20, 7, 45, 1) 16%,
    rgba(16, 21, 74, 1) 37%,
    rgba(27, 51, 180, 1) 88%
  );
  width: 100%;
  height: 200vh;
  padding-top: 10vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* =============================
   3. HEADER & FOOTER
============================= */
header {
  color: #dfdfdf;
  padding: 1vh 8vh;
  padding-top: 4vh;
  width: 100%;
  top: 0;
  position:absolute;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: bottom 0.5s ease;
  z-index: 100;
}

.header-subsection {
  display: flex;
  margin-left: 5.2vh;
  margin-right: 2vh;
  flex: 1 1 20vh;
  justify-content: center;
  font-size: 1em;
  align-items: center;
}

footer {
  background-color: #111111;
  color: #dfdfdf;
  padding: 2em 5.6em;
  font-size: 0.9em;
  transition: bottom 0.5s ease;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

/* =============================
   4. TYPOGRAPHY
============================= */
header a {
  color: #f3f3f3;
  font-size: 2vh;
  font-weight: 600;
  text-decoration: none;
  margin: 0 3vh;
  transition: 300ms;
  border-bottom: 2px solid transparent;
}

.header-subsection a.dimmed {
  color: #9d9d9d;
}

.header-subsection a:hover {
  border-bottom: 2px solid #ffffff;
}

footer a {
  color: #f7f7f7;
  font-size: 1.3vh;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #9d9d9d;
}

footer p {
  width: 92%;
  color: #f7f7f7;
  font-size: 1.3vh;
  text-align: right;
  transition: color 0.3s;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  font-size: 1.2vh;
}

.footer-section ul li {
  margin-top: 0.6vh;
  margin-bottom: 0.6vh;
}

.footer-section h3 {
  margin: 1vh;
  font-size: 1.4vh;
  margin-bottom: 1vh;
}

.footer hr {
  margin-top: 2.8vh;
  margin-bottom: 2.8vh;
  border: 0;
  border-top: 2px solid #737373;
  width: 100%;
}

.social-media a {
  margin: 0;
}

h1 {
  margin-top: 100px;
  color: white;
  font-size: 2.6em;
  font-weight: 1000;
  margin-bottom: 2vh;
}

h2 {
  color: white;
  font-size: 1.2em;
  font-weight: 1000;
  margin-bottom: 2vh;
  font-weight: normal;
}

/* =============================
   6. BUTTONS
============================= */
.btn {
  background-color: #535fe5;
  padding: 1.5vh 2.5vh;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8vh;
  border-radius: 0.8vh;
  display: inline-block;
  margin-top: 2vh;
  margin-bottom: 0;
  transition: all 1s ease-out;
}

.btn:hover {
  background: rgb(46, 47, 130);
  background: linear-gradient(
    0deg,
    rgba(46, 47, 130, 1) 0%,
    rgba(83, 95, 229, 1) 100%
  );
  transition: all 1s ease-out;
}








.features {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features h1 {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.tab-container {
  background-color: #ffffff;
  width: 80%;
  padding: 3vh;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 1s ease-out;
}

.tabs {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1vh;
  transition: all 1s ease-out;
}

.tab-link {
  background: none;
  border: none;
  padding: 1vh 1.5vh;
  cursor: pointer;
  font-size: 1.6vh;
  font-weight: bold;
  color: #333;
  transition: color 0.3s;
  border-bottom: 3px solid #ccc;
  margin: 1vh;
  transition: all 1s ease-out;
}

.tab-link:hover {
  color: #421983;
  transition: all 1s ease-out;
}

.tab-link.active {
  color: #421983;
  border-bottom: 3px solid #421983;
  transition: all 1s ease-out;
}

.tab-content {
  display: none;
  padding: 2vh;
  text-align: left;
  transition: all 1s ease-out;
}

.tab-text {
  flex: 1;
  padding-right: 5vh;
}

.tab-text p {
  font-size: 1.4em;
  font-weight: bold;
}

.tab-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tab-image img {
  max-width: 100%;
  height: auto;
  border-radius: 1vh;
}

.highlight {
  color: #ff622d;
}

.tab-content.active {
  display: block;
}

.tab-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tab-image img {
  max-width: 100%;
  height: auto;
  border-radius: 1vh;
}

.carousel {
  width: 100%;
  margin-top: 5em;
  padding: 3em;
  overflow: hidden;
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(110, 110, 110, 0.15) 50%,
    rgba(0, 0, 0, 0.15) 100%
  );
}

.carousel-container {
  display: flex;
  width: max-content;
  gap: 20px;
  animation: scroll 15s linear infinite;
  will-change: transform;
}

.carousel img {
  height: 5vh;
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}


.process-steps {
  text-align: center;
  margin: 0 50vh;
}